<div class="header-container">
     <h2 class="header-title">Editar Solicitud De Adopción</h2>
     <a class="btn btn-lg hover-btn" [routerLink]="['/mascotas/listarmascotas']">
          <i class="bi bi-backspace-fill"></i>
     </a>
</div>
<div class="container mt-5 mb-5">
     <div class="row justify-content-center">
          <!-- Formulario de edición -->
          <div class="col-md-6">
               <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                         <h4 class="card-title">Editar Solicitud de Adopción</h4>
                    </div>
                    <div class="card-body">
                         <form (ngSubmit)="onUpdate()" #editarSolicitudForm="ngForm">
                              <!-- Nombre del Solicitante -->
                              <div class="form-group mb-3">
                                   <label for="nombreSolicitante">Nombre del Solicitante</label>
                                   <input type="text" class="form-control" id="nombreSolicitante" required [(ngModel)]="solicitud.nombre_solicitante" name="nombre_solicitante" required>
                              </div>

                              <!-- Identificación -->
                              <div class="form-group mb-3">
                                   <label for="identificacion">Identificación</label>
                                   <input type="text" class="form-control" id="identificacion" required [(ngModel)]="solicitud.identificacion" name="identificacion">
                              </div>

                              <!-- Celular -->
                              <div class="form-group mb-3">
                                   <label for="celular">Celular</label>
                                   <input type="tel" class="form-control" id="celular" required [(ngModel)]="solicitud.telefono" name="telefono">
                              </div>

                              <!-- Dirección -->
                              <div class="form-group mb-3">
                                   <label for="direccion">Dirección</label>
                                   <input type="text" class="form-control" id="direccion" required [(ngModel)]="solicitud.direccion" name="direccion">
                              </div>

                              <!-- Botón de Guardar Cambios -->
                              <div class="d-grid gap-2 mt-4 mb-4">
                                   <button type="submit" class="btn btn-success" [disabled]="!editarSolicitudForm.form.valid"><i class="bi bi-floppy-fill"></i> Guardar Cambios</button>
                              </div>
                         </form>
                    </div>
               </div>
          </div>
     </div>
</div>

