<div>
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(205, 157, 27); height: 115px;">
    <a [routerLink]="['/mascotas/home']">
      <img src="./imagenes/logo1.png" alt="Logo" class="logo-img">
    </a>
    <div class="container-fluid">
      <div class="collapse navbar-collapse mx-5 w-75" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-5">
          <li class="nav-item">
            <a class="nav-link fs-5" aria-current="page" [routerLink]="['/mascotas/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" [routerLink]="['/mascotas/listarmascotas']">Mascotas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5" [routerLink]="['/solicitud/listarsolicitudes']">Solicitudes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled fs-5" aria-disabled="true">Regístrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled fs-5" aria-disabled="true">Ingresar</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 fs-5" type="search" placeholder="buscar" aria-label="Search">
          <button class="btn btn-outline-success fs-5" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="height: 400px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1444212477490-ca407925329e?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fHw%3D" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover; border-radius: 10px;">
      </div>
      <div class="carousel-item">
        <img src="https://www.elpais.com.co/resizer/aDBEt9pXMc1cCBiFn53emY7XIPk=/arc-anglerfish-arc2-prod-semana/public/VDM3THGCVNCWRD5ZM6B2PDEVS4.jpg" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover; border-radius: 10px;">
      </div>
      <div class="carousel-item">
        <img src="https://purina.com.co/sites/default/files/styles/webp/public/2024-04/perro-criollo-sonriente.jpg%E2%80%AF.jpg.webp?itok=-CJvQtyx" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover; border-radius: 10px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- componente de marcador de posición -->
  <router-outlet />

  <footer class="">
    <div class="py-2" style="background-color: rgb(66, 66, 66);">

      <div class="row justify-content-center">
        <!-- Sección "Hogar Peludo" -->
        <div class="col-md-6 mb-1 text-center">
          <h5 class="text-light fs-5">Hogar Peludo</h5>
          <p class="text-light">
            Un hogar para cada peludito. Ayudamos a conectar mascotas rescatadas con familias amorosas que buscan un nuevo
            miembro de la familia.
          </p>
        </div>
      </div>
  
      <div class="" style="background-color: rgb(66, 66, 66);">
        <!-- Redes sociales a lo ancho -->
        <div class="col-12 text-center"> 
          <a class="text-light me-5 fs-2"><i class="bi bi-facebook"></i> </a>
          <a class="text-light me-5 fs-2"><i class="bi bi-instagram"></i> </a>
          <a class="text-light fs-2"><i class="bi bi-twitter"></i> </a>
        </div>
      </div>
      <div class="text-center text-light mt-2">
        <h6>Correo Electrónico:hogarpeludo&#64;gmail.com</h6>
        <h6>Dirección:Carrera 55  #16B-32a Pasto-Nariño</h6>
      </div>
    </div>

    <div class="text-center text-light py-4 div-der-res">
      <p class="mb-0">© 2024 Hogar Peludo. Todos los derechos reservados.</p>
    </div>
  </footer>
</div>
