  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="height: 400px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1444212477490-ca407925329e?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fHw%3D" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover; border-radius: 10px;">
      </div>
      <div class="carousel-item">
        <img src="https://www.elpais.com.co/resizer/aDBEt9pXMc1cCBiFn53emY7XIPk=/arc-anglerfish-arc2-prod-semana/public/VDM3THGCVNCWRD5ZM6B2PDEVS4.jpg" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover; border-radius: 10px;">
      </div>
      <div class="carousel-item">
        <img src="https://purina.com.co/sites/default/files/styles/webp/public/2024-04/perro-criollo-sonriente.jpg%E2%80%AF.jpg.webp?itok=-CJvQtyx" class="d-block w-100" alt="..." style="height: 400px; object-fit: cover; border-radius: 10px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
