<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" style="height: 400px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://s1.1zoom.me/b5050/368/Dogs_AkitaPuppy_446864_3840x2160.jpg"
           class="d-block w-100"
           alt="..."
           style="height: 400px; object-fit: cover; border-radius: 10px;">
    </div>
    <div class="carousel-item">
      <img src="https://www.elpais.com.co/resizer/aDBEt9pXMc1cCBiFn53emY7XIPk=/arc-anglerfish-arc2-prod-semana/public/VDM3THGCVNCWRD5ZM6B2PDEVS4.jpg"
           class="d-block w-100"
           alt="..."
           style="height: 400px; object-fit: cover; border-radius: 10px;">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.royalcanin-weshare-online.io/zlY7qG0BBKJuub5q1Vk6/v1/59-es-l-golden-running-thinking-getting-dog-beneficios"
           class="d-block w-100"
           alt="..."
           style="height: 400px; object-fit: cover; border-radius: 10px;">
    </div>
  </div>

  <!-- Controles del carrusel -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
