.header-container {
     background-color: rgb(40, 124, 192);
     height: 90px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 10%; /* Espacio a los lados */
}