/* Fondo oscuro con centrado */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}

/* Caja de notificación */
.modal {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 24px;
  width: 100%;
  max-width: 360px;
  max-height: 50vh;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-in-out;
  gap: 16px;
  border-left: 6px solid transparent;
  transition: all 0.3s ease-in-out;
   position: relative;
}

/* Título y cerrar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color: #333;
}

.cerrar {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #666;
  transition: color 0.2s ease;
}
.cerrar:hover {
  color: #000;
}

/* Contenido */
.contenido {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icono {
  font-size: 28px;
  flex-shrink: 0;
}

.contenido p {
  margin: 0;
  font-size: 16px;
  color: #444;
}

/* Botón */
.acciones {
  display: flex;
  justify-content: flex-end;
}
.cerrar {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #666;
  transition: color 0.2s ease;
}

.cerrar:hover {
  color: #000;
}
.acciones button {
  padding: 6px 16px;
  background-color: #2196f3;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}


/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tipos de notificación */
.success .modal {
  border-left-color: #4caf50;
}
.success .icono {
  color: #4caf50;
}

.error .modal {
  border-left-color: #f44336;
}
.error .icono {
  color: #f44336;
}

.warning .modal {
  border-left-color: #ff9800;
}
.warning .icono {
  color: #ff9800;
}

.info .modal {
  border-left-color: #2196f3;
}
.info .icono {
  color: #2196f3;
}
