<div class="overlay" [ngClass]="tipo">
  <div class="modal">
    <div class="header">
      <span class="titulo">{{ tipo | titlecase }}</span>
      <button class="cerrar" (click)="cerrar()">
        <i class="bi bi-x-lg"></i>
      </button>

    </div>
    <div class="contenido">
      <i class="icono" [ngClass]="{
        'bi bi-check-circle-fill': tipo === 'success',
        'bi bi-x-circle-fill': tipo === 'error',
        'bi bi-exclamation-triangle-fill': tipo === 'warning',
        'bi bi-info-circle-fill': tipo === 'info'
      }"></i>
      <p>{{ mensaje }}</p>
    </div>
    <div class="acciones">
      <button (click)="cerrar()">Aceptar</button>
    </div>
  </div>
</div>
